.home {
  height: 100vh;
  z-index: 0;
}

.home-title-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  border-radius: 0.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  margin-top: 50px;
}

.home-title {
  display: block;
}

.home-title-mobile {
  display: none;
}

.home-title-name {
  background-color: white;
  color: #bc5980;
  padding: 10px 5px;
  border-radius: 0.5rem;
}

.home-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-button {
  background-color: white;
  border: none;
  border-radius: 0.5rem;
  color: #bc5980;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

.home-button:hover {
  background-color: #bc5980;
  color: white;
  border: 1px solid white;
}

.home-button-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px;
  display: none;
}

.home-button-link {
  border: none;
  background-color: #bc5980;

  color: white;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.home-button-link:hover {
  background-color: #bc5980;
  color: white;
  border-radius: 0;
}

.home-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-top: 60px;
  padding: 40px 0px;
}

.home-icon-container {
  position: relative;
}

.home-icon-float {
  position: absolute;
}
