@media screen and (max-width: 700px) {
  h1 {
    font-size: 3.5rem !important;
  }

  /* HOME */
  .home-title {
    display: none;
  }

  .home-title-container {
    text-align: center;
    width: 100%;
    height: 85vh;
    justify-content: space-around;
    margin: 0;
  }

  .home-title-container h2 {
    font-size: 1.5rem;
    margin: 25px 0px 30px 0px;
  }

  .home-title-hello {
    font-size: 2.5rem !important;
    margin: 0px 0px 0px 0px;
  }

  .home-title-mobile {
    display: block;
    margin-top: 30px;
    width: 100%;
  }

  .home-title-mobile h1 {
    font-size: 3.5rem;
    margin: 20px 0px;
  }

  .home-button-links {
    display: block;
  }

  /* ABOUT */
  .about-container {
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
  }

  .about-description {
    width: 80%;
  }

  .about-description .home-title-name {
    line-height: 4rem;
  }
  .about-image {
    width: 60%;
  }

  /* NAV */
  .projects-nav {
    width: 100%;
    background-color: white;
    height: 70px;
  }

  .nav-items {
    width: 100%;
    padding: 0;
  }

  .nav-links-main {
    justify-content: space-around;
    align-items: center;
    width: auto;
    gap: 20px;
  }

  .projects-nav-items {
    display: none;
  }

  .projects-nav-drawer {
    display: block;
  }

  .projects-nav-drawer-button {
    list-style-type: none;
    color: #bc5980;
    margin-top: 20px;
    display: block;
    cursor: pointer;
  }

  .nav-links-social {
    display: none;
  }

  /* PROJECT */
  .project-container {
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
  }

  .project-description {
    width: 80%;
  }

  .project-images {
    max-width: 90%;
    margin-bottom: 70px;
  }

  .home-icons {
    display: none;
  }
}
