.nav-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  list-style-type: none;
  color: #bc5980;
  margin: 0;
  padding: 0;
  width: 40%;
}

.nav-items a {
  text-decoration: none;
  color: #bc5980;
  transition: all 0.3s ease-in-out;
}
