.projects {
  position: relative;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  justify-content: center;
  gap: 20px;
  align-items: flex-start;
  margin-top: 40px;
}

.projects-project-container {
  background-color: white;
  height: 100%;
  width: 500px;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}
.projects-project-container img {
  vertical-align: middle;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.projects a {
  text-decoration: none;
  color: #bc5980;
}

.projects-project-container h5 {
  margin: 0;
  padding: 20px;
  font-size: 20px;
}
