.home {
   padding-top: 80px;
}

main {
   text-align: center;
}

.languagesFrameworks {
   max-width: 80%;
   max-height: 200px;
   margin-top: 100px;
}

.projects-button-container {
   display: flex;
   margin-left: 2%;
   justify-content: center;
}
.projects-button {
   right: 0;
   background-color: #4A4848;
   color: white;
   border-radius: 5px;
   width: 30%;
   max-height: 20px;
   border: 0;
   box-shadow: 0px 2px 4px rgba(0,0,0, 0.1);
   margin-bottom: 50px;
   margin-top: 2%;
   text-align: center;
}
.projects-button > button {
   background-color: #4A4848;
   color: white;
   border: 0;
   width: 100%;
}
.projects-button-container :hover{
   cursor: pointer;
}

@media screen and (max-width: 1100px) {
   .home {
      margin-top: 2%;
   }
}

@media screen and (max-width: 600px) {
   .home {
      margin-top: 5%;
   }
   .projects-button > button{
      font-size: 2vw;
   }
   .links {
      max-width: 10%;
   }
}

@media screen and (min-width: 1100px) {
   .home {
      margin: 0 70px 0px 70px;
   }
   .header {
      max-height: 30px;
   }
   .links {
      max-width: 4%;
   }
   .projects-button {
      font-size: 1vw;
   }
}
