body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: linear-gradient(90deg, rgba(188,89,128,1) 0%, rgba(238,101,111,1) 100%);
}

code {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
